.u-block-07f1-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-07f1-3 {
  position: absolute;
  left: 0;
}

.u-block-07f1-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: url("images/bnbnn.jpg");
  background-position: 50% 50%;
  min-height: 800px;
}

.u-section-1-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-1-1 .u-layout-cell-1 {
  min-height: 702px;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 30px 0 30px 30px;
}

.u-section-1-1 .u-text-1 {
  line-height: 1.8;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 140px 0 0;
}

.u-section-1-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  background-image: none;
  border-style: solid;
  text-align: center;
  font-weight: 700;
  margin: 70px 102px 0 auto;
  padding: 20px 47px 20px 46px;
}

.u-section-1-1 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  background-image: none;
  border-style: none;
  text-align: center;
  font-weight: 700;
  margin: -62px auto 0 11px;
  padding: 20px 47px 20px 46px;
}

.u-section-1-1 .u-image-1 {
  min-height: 702px;
  background-image: url("images/f.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-container-layout-2 {
  padding: 30px 2px 30px 30px;
}

@media (max-width: 1199px) {
   .u-section-1-1 {
    min-height: 537px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 579px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-right: 19px;
  }

  .u-section-1-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 579px;
  }
}

@media (max-width: 991px) {
   .u-section-1-1 {
    min-height: 401px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 443px;
    background-position: 26.97% 50%;
  }
}

@media (max-width: 767px) {
   .u-section-1-1 {
    min-height: 547px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-right: 50px;
    padding-left: 10px;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 570px;
  }

  .u-section-1-1 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1-1 {
    min-height: 336px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-top: 50px;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 359px;
  }
}.u-block-698c-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-698c-3 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
}

.u-block-698c-4 {
  position: absolute;
  right: 0;
  width: 65px;
  height: 65px;
}

 .u-section-2-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/pexels-hasan-albari-1229861.jpg");
  background-position: 50% 50%;
}

.u-section-2-1 .u-sheet-1 {
  min-height: 550px;
}

.u-section-2-1 .u-text-1 {
  font-size: 1.5rem;
  text-align: center;
  margin: 53px 363px 0 -340px;
}

.u-section-2-1 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  background-image: none;
  margin: 363px auto 0 24px;
}

@media (max-width: 1199px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-2-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 348px;
  }
}

@media (max-width: 767px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 261px;
  }
}

@media (max-width: 575px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 164px;
  }
}

 .u-section-2-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/pexels-junior-teixeira-2047905.jpg");
  background-position: 50% 50%;
}

.u-section-2-2 .u-sheet-1 {
  min-height: 550px;
}

.u-section-2-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 43px 829px 0 17px;
}

.u-section-2-2 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  background-image: none;
  margin: 376px auto 0 17px;
}

@media (max-width: 1199px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-2-2 .u-text-1 {
    margin-right: 645px;
  }

  .u-section-2-2 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-2-2 .u-text-1 {
    margin-right: 425px;
  }
}

@media (max-width: 767px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-2-2 .u-text-1 {
    margin-right: 245px;
  }
}

@media (max-width: 575px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 164px;
  }

  .u-section-2-2 .u-text-1 {
    margin-right: 45px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 595px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 37px 50px 0 76px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 49px 106px 0;
}

.u-section-3 .u-list-1 {
  margin: 37px 0 19px;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 374px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 188px;
  height: 171px;
  margin: 11px auto 0 9px;
}

.u-section-3 .u-text-3 {
  margin: -154px 108px 0 206px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-2 {
  width: 188px;
  height: 171px;
  margin: 11px auto 0 9px;
}

.u-section-3 .u-text-4 {
  margin: -154px 108px 0 206px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-image-3 {
  width: 188px;
  height: 171px;
  margin: 11px auto 0 9px;
}

.u-section-3 .u-text-5 {
  margin: -154px 108px 0 206px;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-image-4 {
  width: 188px;
  height: 171px;
  margin: 11px auto 0 9px;
}

.u-section-3 .u-text-6 {
  margin: -154px 108px 0 206px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 308px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 9px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 9px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 9px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-4 {
  min-height: 655px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 642px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 31px;
}

.u-section-4 .u-text-1 {
  margin: 47px auto 0 20px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1rem;
  margin: 47px 37px 0 20px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  text-align: left;
  margin: 56px 37px 0 20px;
}

.u-section-4 .u-image-1 {
  min-height: 642px;
  background-image: url("images/asd.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 529px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 529px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 414px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-1 {
    min-height: 405px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1864px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-4 .u-image-1 {
    min-height: 932px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1174px;
  }

  .u-section-4 .u-image-1 {
    min-height: 587px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 386px;
}

.u-section-5 .u-text-1 {
  width: 580px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-5 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 280px;
  min-width: 120px;
  margin: 40px auto 60px;
}

.u-section-5 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-5 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
}

.u-section-5 .u-icon-3 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-5 .u-icon-4 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-5 .u-icon-5 {
  height: 100%;
  color: rgb(203, 32, 39) !important;
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }
}